body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
  }
  
/* Hide the scroll bar */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}